<footer>
  <div class="footer-list-div">
    <ul class="footer-list">
      <li>
        <div class="logo"><h2>BestDeals</h2></div>
      </li>
      <li><p>Customer Supports:</p></li>
      <li>+123-123-123-214</li>
      <li><p>4517 Washington Ave. Manchester, Kentucky 39495</p></li>
      <li><p>info@kinbo.com</p></li>
    </ul>
  </div>
  <div class="footer-list-div">
    <ul class="footer-list">
      <li><h5>TOP CATEGORIES</h5></li>
      
    </ul>
  </div>
  <div class="footer-list-div">
    <ul class="footer-list">
      <li><h5>QUICK LINKS</h5></li>
      
    </ul>
  </div>
 
</footer>
