<div>
  <div
    class="bg-dark text-center d-flex align-items-center justify-content-center m-0 w-100 text-white b top-nav"
  >
    <p class="mt-0">Welcome to BestDeals online Ecommerce store</p>
  </div>
  <div
    class="bg-dark text-center d-flex align-items-center justify-content-around m-0 w-100 text-white b p-3 nav"
  >
    <h4>
      <a class="text-decoration-none text-white" href="/">BestDeals</a>
    </h4>
    <div class="search-div">
      <form class="d-flex">
        <input
          class="form-control me-2 searchbar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button><img src="/userCSS/icons/search.svg" alt="" /></button>
      </form>
    </div>
    <ul class="text-decoration-none nav-list d-flex mr-10">
      <li><img src="/userCSS/icons/cart.svg" alt="" /></li>
      <li>
        <div class="main-menu">
          <a href="/signup">
            <img src="/userCSS/icons/person.svg" alt="" />
          </a>
        </div>
      </li>
      <li><img src="/userCSS/icons/suit-heart-fill.svg" alt="" /></li>
    </ul>
  </div>
  <div
    class="bottom-nav text-center d-flex align-itdems-center justify-content-around m-0 w-100 p-3" style="color: white;"
  >
    <div class="left-div d-flex">
      <div class="main-menu">
        <button class="category-btn text-white">Categories</button>
        <div class="submenu text-white">
          <ul>
            <li>Computer & Laptop</li>
            <li>SmartPhone</li>
            <li>Headphone</li>
            <li>Mobile Accessories</li>
            <li>Cameras</li>
            <li>Watches</li>
          </ul>
        </div>
      </div>
      <div class="text-center text-white"><a href="">Customer Support</a></div>
      <div><a href="">Need help</a></div>
    </div>
    <div class="phone-number text-white">
      <a href="" class="text-decoration-none text-dark">+1-234-567-778</a>
    </div>
  </div>
</div>

<!-- Modal for Register -->
<div
  class="modal fade"
  id="reg-modal"
  tabindex="-1"
  aria-labelledby="modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
