<div>
  <div
    class="bg-dark text-center d-flex align-items-center justify-content-center m-0 w-100 text-white b top-nav"
  >
    <p class="mt-0">Welcome to BestDeals online Ecommerce store</p>
  </div>
  <div
    class="bg-dark text-center d-flex align-items-center justify-content-around m-0 w-100 text-white b p-3 nav"
  >
    <h4>
      <a class="text-decoration-none text-white" href="/">BestDeals</a>
    </h4>
    <div class="search-div">
      <form class="d-flex">
        <input
          class="form-control me-2 searchbar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button><img src="/userCSS/icons/search.svg" alt="" /></button>
      </form>
    </div>
    <ul class="text-decoration-none nav-list d-flex mr-10">
      <li><img src="/userCSS/icons/cart.svg" alt="" /></li>
      <li>
        <div class="main-menu">
          <% if (userId) { %>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                <img src="/userCSS/icons/person.svg" alt="User" />
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                <li><a class="dropdown-item" href="/orders">My Orders</a></li>
                <li><hr class="dropdown-divider"></li>
                <form action="/logout" method="post">
                  <li><button type="submit">Logout</button></li>
                </form>
                
              </ul>
            </div>
          <% } else { %>
            <a href="/signin">
              <img src="/userCSS/icons/person.svg" alt="Sign In" />
              <span class="d-none d-md-inline ms-1">Sign In</span>
            </a>
          <% } %>
        </div>
      </li>
      <li><img src="/userCSS/icons/suit-heart-fill.svg" alt="" /></li>
    </ul>
  </div>
  <!-- Rest of the code remains the same -->
</div>