.forgot-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.forgot-password-container .form-control {
    margin-bottom: 15px;
}

.forgot-password-container .back-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 0.9em;
}

.btn {
    background-color: #fa8232;

}