<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="flex">
      <%- include('./partials/menu') %>
      <div class="ml-[250px] p-6 max-w-[calc(100%-250px)]">
        <!-- Header -->
        <div class="flex justify-between items-center mb-6">
          <h2 class="text-2xl font-bold text-gray-800">
            Sales Reportsdfasasdfasdfsdfsdf
          </h2>
        </div>
      </div>
    </div>
  </body>
</html>
